<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceBus" version="6.3.4" targetFramework="net452" />
  <package id="Seq.Client.Serilog" version="2.2.1" targetFramework="net45" />
  <package id="Serilog" version="2.4.0" targetFramework="net452" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="2.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net452" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Seq" version="3.3.1" targetFramework="net452" />
</packages>