<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceBus" version="5.2.0" targetFramework="net45" />
  <package id="Seq.Client.Serilog" version="2.2.1" targetFramework="net45" />
  <package id="Serilog" version="1.4.204" targetFramework="net45" />
  <package id="Serilog.Sinks.Seq" version="1.5.5" targetFramework="net45" />
</packages>